<!doctype html>
<html lang="en">

<%- include("../components/head.ejs") %>

    <body>
        <div class="container">

            <%- include("../components/nav.ejs") %>
                <h1>Page is not Found</h1>




                <%- include("../components/footer.ejs") %>

        </div>

    </body>


    <%- include("../components/script.ejs") %>

</html>